doctype html
html(lang="en")
  head
    title= "sc3"
    
    link(rel="stylesheet" href="css/styles.css")
  body
    div(class="game")
    
    script(src="js/phaser.min.js")
    script(src="js/app.js")
