doctype html
html(lang="en")
  head
    title= "sc3"
    
    link(rel="stylesheet" href="css/styles.css")
  body
    pre(class="blareboard text-center")
      |________________________________/\\\\\\\\\\__        
      | ______________________________/\\\///////\\\_       
      |  _____________________________\///______/\\\__      
      |   __/\\\\\\\\\\_____/\\\\\\\\_________/\\\//___     
      |    _\/\\\//////____/\\\//////_________\////\\\__    
      |     _\/\\\\\\\\\\__/\\\___________________\//\\\_   
      |      _\////////\\\_\//\\\_________/\\\______/\\\__  
      |       __/\\\\\\\\\\__\///\\\\\\\\_\///\\\\\\\\\/___ 
      |        _\//////////_____\////////____\/////////_____
    
    pre(class="blink text-center")
      | Press any key to start.
    
    div(class="game")
    
    script(src="js/app.js")
